<div class="smurfy span6 text-center">
<h1> Start planning your jaunt 

<%= simple_form_for @pic do |f| %>
		<%= f.input :title, label: 'Name', placeholder: 'First and last' %>
		<%= f.input :subtitle, label: 'Destination', placeholder: 'for example, Rome, Italy' %> 
		<%= f.input :message, label: 'Anything else we should know?', placeholder: 'for example, who are you traveling with?'%>
		<%= f.input :image, label: "Upload an image of your last trip" %>


		<%= f.submit "Save" %>


	<% end %>

</div>